@model DotNetCoreMVCApp.Models.UserModel
@{
    Layout = null;
}

<form asp-action="CreateUser" class="needs-validation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Phone" class="form-control" pattern="^\d{3}\d{3}\d{4}$" required />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Role" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <select asp-for="Role" class="form-control" required>
                <option selected="selected" value="">NA</option>
                <option value="Client">Client</option>
                <option value="Admini">Admin</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" type="password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="text-align:center">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary submit" />
            <input value="Close" class="btn btn-danger cancle" style="width: 75px; margin-left: 143px;" />
        </div>
    </div>
</form>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    //------bootstrap form validation------
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

    $(".cancle").click(function () {
        $("#Usrform").modal("hide");
    })
</script>